.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 35px;
    height: 40px;
}

header{
    background-color: black;
    color: white;
    font-weight: bold;

}

.opcionesMenu {
    align-items: center;
}

.opcionesMenu a {
    justify-content: center;

}
